# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

build/

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
CMakePresets.json
CPM_modules/
TestHardwareMonitoring
_deps/
build.ninja
cmake/CPM_0.40.2.cmake
cmake_install.cmake
cpm-package-lock.cmake
testOutput/


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cmake
.vscode

/cmake-build-debug/